.castdetails {
  background-color: #191d29;
  position: relative;

  color: white;

  &-background {
    &-top {
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        @include breakpoint-down(medium) {
          left: -100%;
          width: 220%;
        }
        @include breakpoint-down(small) {
          left: -160%;
          width: 300%;
        }
      }
    }
    &-left {
      > img {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  &-content {
    min-height: 86vh;
    position: relative;
    z-index: 9999;
    display: flex;
    justify-content: space-around;

    @include breakpoint-down(medium) {
      flex-direction: column;
      gap: 10px;
    }

    &-profile {
      flex: 1;
      display: flex;
      justify-content: center;

      &-wrapper {
        height: 86vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        @include breakpoint-down(medium) {
          height: 50vh;
        }
        > h2 {
          color: #14d9e5;
        }
        &-image {
          @include breakpoint-down(medium) {
            width: 70%;
          }

          > img {
            padding: 20px;
            padding-bottom: 10px;
            @include breakpoint-down(medium) {
              width: 100%;
            }
          }
        }
      }
    }
    &-data {
      flex: 1;
      display: grid;

      margin: 0px 10%;
      row-gap: 30px;
      column-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr auto;
      @include breakpoint-down(medium) {
        row-gap: 10px;
        column-gap: 10px;
        margin: 0px 5%;
      }
      > div:nth-child(1) {
        grid-column: 1/2;
      }
      > div:nth-child(2) {
        grid-column: 2/3;
      }
      > div:nth-child(3) {
        grid-column: 3/4;
      }
      > div:nth-child(4) {
        grid-column: 1/4;
      }
      > div:nth-child(5) {
        grid-column: 1/4;
      }
      > div:nth-child(6) {
        grid-column: 1/4;

        margin-bottom: 40px;
        @include breakpoint-down(medium) {
          margin-bottom: 150px;
        }
      }
      &-item {
        &-wrapper {
          padding: 16px 20px;

          display: flex;
          flex-direction: column;
          gap: 10px;

          @include breakpoint-down(medium) {
            padding: 8px 12px;
          }

          > img {
            width: 24px;
          }
          > p {
            font-size: 14px;
            font-weight: 300;
          }
          > h3 {
            font-size: 24px;
            font-weight: 500;
            @include breakpoint-down(medium) {
              font-size: 16px;
            }
          }
          &-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > h3 {
              font-size: 24px;
              font-weight: 500;
              @include breakpoint-down(medium) {
                font-size: 16px;
              }
            }
            > img {
              cursor: pointer;
              width: 20px;
            }
          }
          > ul {
            margin: 10px 0px;
            margin-left: 30px;
            > li {
              margin-bottom: 20px;
              > h3 {
                font-size: 20px;
                font-weight: 400;
                word-wrap: break-word;
                @include breakpoint-down(medium) {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.gradient-border {
  border-radius: 4px;
  border: double 1px transparent;

  background-image: linear-gradient(#191d29, #191d29),
    linear-gradient(to right, rgba(21, 191, 253, 0.7), rgba(132, 247, 41, 0.7));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
