*,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "TTTravels";
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}

.hide-for-mobiles {
  @include breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
.nav-padding {
  padding: 7vh 0px;
}
