*,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "TTTravels";
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}

.hide-for-mobiles {
  @include breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
.nav-padding {
  padding: 7vh 0px;
}

// this part can be delted
body{
  background-color: black;
}

.smallslider-content {
  margin: 0px 80px;
  @include breakpoint-down(small) {
    margin: 0px 30px;
  }
}

.slick-prev:before,
.slick-next:before {
  font-size: 35px;
  opacity: 1;
  @include breakpoint-down(small) {
    font-size: 25px;
  }
}
.slick-prev {
  z-index: 999;
}
.slick-next {
  right: -2px;
  @include breakpoint-down(small) {
    right: -14px;
  }
}
